*.pyc
*.pyo
__pycache__/
*.log
*.pot
*.pyc
*.pyo
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
*.pyo
env/
venv/
ENV/
env.bak/
venv.bak/
.idea/
.vscode/
*.db
*.bak
*.swp
docker-compose.override.yml
*.db
*.sublime-workspace
*.sublime-project
*.env
*.key
*.pem
*.cover
nosetests.xml
coverage.xml
*.hypothesis/
/static/
/media/
*.pid